#home {
    display: flex;
    min-height: calc(100vh - 92.8px);
    position: relative;
    margin-top: 0;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: var(--cor-neutra-1);
}

#cta .title span {
    color: var(--cor-primaria-4);
}

#cta .description {
    font-size: 1.2rem;
}

#cta-btns {
    display: flex;
    gap: 24px;
}

#cta-btns a {
    text-decoration: none;
    color: var(--cor-neutra-1);
}

#phone-btn {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

#phone-btn button {
    box-shadow: none;
}

#banner {
    display: flex; 
    align-items: start; /*Coloca a imagem em cima*/
    justify-content: end; /*Coloca a imagem para a direita*/
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    width: fit-content;
}

.shape {
    background-color: var(--cor-primaria-2);
    width: 50%;
    height: 100%;
    position: absolute;/*Cria a forma*/
    border-radius: 40% 30% 50% 20%; /*Da o formato*/
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    -ms-border-radius: 4;
    -o-border-radius: 4;
    top: 0;
    right: 5px;
    z-index: 1;
}

@media screen and (max-width: 1170px) { /*Responsividade para ajuste de telas menores que 1170px*/
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img, 
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

